span{
    font-size: 35px;
    color: red;
    font-weight: 1000;
  }
  .nav-item{
    font-size: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
  * {
      font-family: 'Montserrat', sans-serif;
  }
  span{
    font-size: 35px;
    color: red;
    font-weight: 1000;
  }
  .nav-item{
    font-size: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
  * {
      font-family: 'Montserrat', sans-serif;
  }
  body {
      background: #f1fbff;
  }
  .section-padding {
      padding: 100px 0;
  }
  .carousel-item {
      height: 100vh;
      min-height: 300px;
  }
  .carousel-caption {
      bottom: 220px;
      z-index: 2;
  }
  .carousel-caption h5 {
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 25px;
  }
  .carousel-caption p {
      width: 60%;
      margin: auto;
      font-size: 18px;
      line-height: 1.9;
  }
  .carousel-inner:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
  }
  .navbar .getstarted {
      background: #106eea;
      margin-left: 30px;
      border-radius: 4px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      padding: .5rem 1rem;
      line-height: 2.3;
  }
  .navbar-nav a {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
  }
  .navbar-light .navbar-brand {
      color: #000;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
  }
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
      color: #000;
  }
  .navbar-light .navbar-nav .nav-link {
      color: #000;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
      color: #000;
  }
  .w-100 {
      height: 100vh;
  }
  .navbar-toggler {
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
      background: #fff;
  }
  #about{
      background-color:pink;
  }
  #about h1{
      font-weight:800;
      font-size:50px;
      color:white;
  }
  h1{
    margin-top: 100px;
  }
  .fo{
    margin-top: 60px;
  }
  .card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) ;
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
  }
  .card label ,h1,h6{
   color: #fff;
  }
  label
  {
    color: #fff;
  }
  #grid
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.eat
{
    padding: 15%;
    grid-column: 1;
    background-color: whitesmoke;
    text-align: center;

}
.row{
    grid-column: 2;
    padding: 5%;
    padding-left: 10%;
}
.card{
    padding: 5%;
}
form{
    padding: 10%;
}
mat-form-field{
 width: 100%;
}


